<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/nml/NML"
			class = "org.xtext.example.nml.nML.NMLPackage"
			genModel = "model/generated/NML.genmodel" />
	</extension>
</plugin>
